/*------------------------------------------------------
    color format (カラー設定)
------------------------------------------------------*/

$font_main_color: #1B2131;
$font_sub_color: red;
$bg_main_color: #F3F7FF;


/*------------------------------------------------------
    font format (フォント設定)
------------------------------------------------------*/

// japanese_font　日本語フォント
$main_font: "Noto Sans", sans-serif;